/*===========================================*/
/*	DESKTOP LAYOUT 
/*===========================================*/


@media (min-width: 1200px) { }
@media (min-width: 1200px) and (max-width: 1280px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	.ctrl-2 .owl-nav > .owl-next { right: 0; }
	.ctrl-2 .owl-nav > .owl-prev { left: 0; }
}

@media (min-width: 992px) {
	.boxed,
	.boxed .nav-wrp { min-width: 990px; max-width: 1400px; margin: auto; }

	.tbl-gr { display: table; width: 100%; table-layout: fixed; }
	.tbl-gr > [class*="col-"] { float: none; display: table-cell; }
	.tbl-gr.align-m > [class*="col-"] { vertical-align: middle; }
	.tbl-gr.align-t > [class*="col-"] { vertical-align: top; }
	.tbl-gr.align-b > [class*="col-"] { vertical-align: bottom; }

	.nav-transparent:not(.nav-sticky) {
		background-color: transparent !important;
		top: 0px;
		opacity: 1;
		box-shadow: none;
	}
}


/*===========================================*/
/*	MOBILE & TABLET COMMON
/*===========================================*/
@media (min-width: 200px) and (max-width: 991px) {
	#page { overflow: hidden; }
	
	.ctrl-2 .owl-nav > div {
		background-color: rgba(0,0,0,0.3);
		color: #fff;
	}
	.ctrl-2 .owl-nav > .owl-next { right: 0; }
	.ctrl-2 .owl-nav > .owl-prev { left: 0; }

	.ctrl-2 .owl-dots,
	.ctrl-1 .owl-dots { margin: 0px; }

	[class*="gt"] { margin-left: -15px; margin-right: -15px; }
	[class*="gt"] > [class*="col-"] { padding-left: 15px; padding-right: 15px; }
	
	.rw > [class*="cl"] { width: 100%; }
	.tbl-gr > [class*="cl"], 
	.tbl-gr > [class*="col-"] {
		display: block;
	}
	
	.form-inline-tbl,
	.form-inline-tbl > li {
		display: block;
		padding: 5px;
	}
	.form-block-style1 { padding: 20px;  }
	.form-block-style1 .title { font-size: 18px; }

	/* Swiper gallery
	=========================*/
	.swiper-gallery .caption { max-width: 300px; }
	.swiper-gallery .caption1 { padding: 24px 20px; }
	.swiper-gallery .caption1 .title { font-size: 18px !important; margin-bottom: 0; }
	.swiper-gallery .caption1 .price { font-size: 22px; margin-bottom: 10px; }
	.swiper-gallery .caption1 .tag-text {
		font-size: 13px;
		padding: 6px 10px;
	}
	.swiper-gallery .caption1 hr { margin: 10px 0; }
	.swiper-gallery > .title { font-size: 20px !important; padding-top: 16px; padding-bottom: 16px; }
	.swiper-gallery .caption .title.small { font-size: 20px !important; line-height: 1.4; }
	.swiper-gallery .caption hr { margin-top: 10px; margin-bottom: 10px; }
	
	/* Tabs
	=========================*/
	.side-tab,
	.tabs-auto .tb-list > li { display: block; }
	.side-tab .tb-list { width: 100% !important; }
	.tab-style2.side-tab:not(.tb-r) .tb-content,
	.tab-style2.tb-r .tb-content,
	.tab-style3.side-tab:not(.tb-r) .tb-content,
	.tab-style3.tb-r .tb-content,
	.tab-style4.side-tab:not(.tb-r) .tb-content,
	.tab-style4.tb-r .tb-content { padding-left: 0px; padding-top: 30px; }


	/* NAVIGATION
	********************************************/
	.nav {
		display: none;
		height: auto !important;
		bottom: inherit !important;
		text-align: center !important;
		position: static !important;
		padding: 10px;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		float: none !important;
	}
	.nav-social,
	.nav-links,
	.nav-other,
	.nav-other > a,
	.nav-other > span { display: block; margin-bottom: 10px; }

	.nav-header { position: relative; }
	.nav-header,
	.nav ul > li { float: none !important; }
	.nav.open,
	.nav-handle { display: block; }
	.nav-wrp .nav { margin: 0 -15px; }
	/* .nav-wrp { position: static; } */
	.navbar-brand { padding: 10px 0; }
	.nav-wrp .navbar-brand img { max-height: 30px; }
	
	.nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: rgba(0,0,0,0.03);
		border: 0;
		box-shadow: none;
	}
	.dark.nav-wrp .dropdown-menu {
		background-color: rgba(255,255,255,0.06);
	}
	.dark.nav-wrp .dropdown-menu li a { color: rgba(255,255,255,0.8); }
	.dark.nav-wrp .dropdown-menu li a:hover { color: #fff; background-color: rgba(255,255,255,0.06); }
	.dark.nav-wrp .dropdown-menu .divider {
		background-color: rgba(255,255,255,0.1);
	}
	.sm-nav.sm-collapsible .caret, 
	.sm-nav.sm-collapsible ul .caret {
		margin-right: 10px;
	}
	
	.m-nav { box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.1); }
	.m-nav > ul > li { border-bottom: 1px solid rgba(0,0,0,0.1) }
	.light .m-nav > ul > li { border-bottom: 1px solid rgba(255,255,255,0.1) }
	.dark .m-nav { box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.1); }
	.m-nav .dropdown-menu { position: static; float: none; box-shadow: none; }

	.nav-wrp [class*="gt"] { margin-left: 0; margin-right: 0; }
	.nav-wrp [class*="gt"] > [class*="col-"] { padding-left: 0; padding-right: 0; }

	
	/* PAGE HEADERS
	********************************************/
	.pghead-section { padding-top: 30px; padding-bottom: 30px;	}
	.pghead-section, .pghead-section .pg-path { text-align: center;  }

	.popup-content .pop-body,
	.popup-content .pop-header {
		padding: 20px;
	}
	
}


/*===========================================*/
/*	TABLET
/*===========================================*/
@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 768px) and (max-width: 1024px) {
	.nav-links > li > a {
		padding-left: 6px;
		padding-right: 6px;
	}
	.vh50,
	.vh55,
	.vh60,
	.vh65,
	.vh70,
	.vh75,
	.vh80,
	.vh85,
	.vh90{height:100vh;}
	.pd-tb-large {
	    padding-top: 80px;
	    padding-bottom: 80px;
	}
}

/*===========================================*/
/*	MOBILE
/*===========================================*/
@media (min-width: 200px) and (max-width: 767px) {
}
@media (min-width: 600px) and (max-width: 767px) {
}
@media (min-width: 480px) and (max-width: 599px) {

}
@media (min-width: 200px) and (max-width: 479px) {
}